<p id="notice"><%= notice %></p>

<%= render(PageTitleComponent.new(title: "title").with_content("Rooms")) %>
<%= render(RoomListComponent.new(rooms: @rooms)) %>

<br>

<%= link_to 'New Room', new_room_path %>
